body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(194, 183, 124);
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container:first-child {
  text-align: center;
}
.auth-form {
  display: inline-block;
  margin: 0 auto;
  padding: 30px;
  background-color: aliceblue;
  border-radius: 4px;
}
.field button {
  padding: 10px;
  color: white;
  background-color: palevioletred;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.field button:hover {
  background-color: rgb(214, 45, 101);
}

.editModal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100px;
  padding: 5px;

  display: none;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(125, 113, 45);
}
p {
  font-size: 25px;
}

.contacts_btn {
  width: 100px;
  background-color: rgb(106, 92, 56);
  border-radius: 10px;
}

.modWindow {
  display: flex;
  justify-content: space-around;
  display: none;
}

.mod-window_container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  height: 30%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  max-width: 300px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px;
}

.btnEdit {
  background-color: #04aa6d;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  transition-duration: 0.4s;
  margin: 16px 0 !important;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btnDelete {
  background-color: #f44336;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  transition-duration: 0.4s;
  margin: 16px 0 !important;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btnDelete:hover {
  transform: scale(1.03);
}

.btnEdit:hover {
  transform: scale(1.03);
}

.card-desc {
  text-align: center;
}

.card_image {
  display: flex;
  justify-content: center;
}

.card_image img {
  width: 250px;
}

.card_action_buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.wrapper_editModal {
  display: flex;
  justify-content: center;
}
